node_modules
git.old
out
app/out/*
.DS_Store
.DS_Store?
.Spotlight-V100
env.css # this is so that any updates to the users config does not affect pull requests
app/config/env.css # just in case
dist/*/
