body {
	background-color: black;
}

* {
	font-family: monospace;
	color: white;
	font-size: 15pt;
}

input {
	background-color: white;
	color: black;
	width: 100%;
}

button {
	background-color: white;
	color: black;
	width: 100%;
}
td, tr {
	background-color: #0e0e0e;
	color: white
}
